extends layout.pug

block head
    script(src="/assets/scripts/dashboard.js")

block main_content
    .selection-bar
        .selection-bar_server
            span Discord Server
            .selection-bar_server--selected#js--serverlist-open
                img.icon(src="https://i.postimg.cc/pXY5MQmB/gdcm-logo.png")
                span.selected-server-name Selected Server
                .down-arrow.svg-gradient-icon.filled(svg-data="/assets/img/down_arrow.svg")
            #server-list
        .selection-bar_collab
            span Collab Selection
            ul#collab-list
                li.collab-list-tile
                    .collab-list-tile_main-infos
                        h1 Collab Name
                        h2 Collab Host
                        h3 Collab Song
                    .collab-list-tile_collab-infos
                        .collab-list-tile_member-count
                            .svg-gradient-icon.filled(svg-data="/assets/img/member.svg")
                            span 23
                        span.collab-list-tile_collab-status
                li.collab-list-tile.collab-list-tile--selected
                    .collab-list-tile_main-infos
                        h1 Collab Name
                        h2 Collab Host
                        h3 Collab Song
                    .collab-list-tile_collab-infos
                        .collab-list-tile_member-count
                            .svg-gradient-icon.filled(svg-data="/assets/img/member.svg")
                            span 23
                        span.collab-list-tile_collab-status
    .collab-dashboard
        .collab-dashboard_header
            h1#collab-dashboard_header--collab-name title
            h2 host&nbsp;
                span#collab-dashboard_header--host-name name
            p#collab-dashboard_header--description desc
        .collab-dashboard_infos
            .collab-dashboard_infos-element.collab-dashboard_infos--song
                h1 Song
                p
                    span#collab-dashboard_infos--song-artist Artist
                    | &nbsp;-&nbsp;
                    span#collab-dashboard_infos--song-name Song name
            .collab-dashboard_infos-element.collab-dashboard_infos--status
                h1 Overhaul status
            .collab-dashboard_infos-element.collab-dashboard_infos--verifier
                h1 Verifier
                p.verifier-name Name
            .collab-dashboard_infos-element.collab-dashboard_infos--member-count
        .collab-dashboard_parts
            h1 Parts
            table.collab-parts-table
                thead
                    tr
                        th.collab-parts-table_head
                        th.collab-parts-table_head.collab-parts-table_head--builder Builder
                        th.collab-parts-table_head Timestamps
                        th.collab-parts-table_head Groups
                        th.collab-parts-table_head Status
                        th.collab-parts-table_head.collab-parts-table_head--comment Comment
                tbody
                    tr.collab-parts-table_row.collab-parts-table_row--selected
                        td.collab-parts-table_column--builder Name
                        td.collab-parts-table_column--timestamp
                            span 0:00
                            | &nbsp;-&nbsp;
                            span 0:00
                        td.collab-parts-table_column--groups 454 - 56565
                        td.collab-parts-table_column--status.collab-parts-table_column--status--untaken untaken
                        td.collab-parts-table_column--comment well not really
                    tr.collab-parts-table_row
                        td.collab-parts-table_column--builder Name
                        td.collab-parts-table_column--timestamp
                            span 0:00
                            | &nbsp;-&nbsp;
                            span 0:00
                        td.collab-parts-table_column--groups 454 - 56565
                        td.collab-parts-table_column--status.collab-parts-table_column--status--building-layout building layout
                        td.collab-parts-table_column--comment well not really
                    tr.collab-parts-table_row
                        td.collab-parts-table_column--builder Name
                        td.collab-parts-table_column--timestamp
                            span 0:00
                            | &nbsp;-&nbsp;
                            span 0:00
                        td.collab-parts-table_column--groups 454 - 56565
                        td.collab-parts-table_column--status.collab-parts-table_column--status--layout-done layout done
                        td.collab-parts-table_column--comment well not really
                    tr.collab-parts-table_row
                        td.collab-parts-table_column--builder Name
                        td.collab-parts-table_column--timestamp
                            span 0:00
                            | &nbsp;-&nbsp;
                            span 0:00
                        td.collab-parts-table_column--groups 454 - 56565
                        td.collab-parts-table_column--status.collab-parts-table_column--status--decorating decorating
                        td.collab-parts-table_column--comment well not really
                    tr.collab-parts-table_row
                        td.collab-parts-table_column--builder Name
                        td.collab-parts-table_column--timestamp
                            span 0:00
                            | &nbsp;-&nbsp;
                            span 0:00
                        td.collab-parts-table_column--groups 454 - 56565
                        td.collab-parts-table_column--status.collab-parts-table_column--status--deco-done deco done
                        td.collab-parts-table_column--comment well not really
        .collab-dashboard_parts-details
            h1 Parts Details
            .part-details-grid
                .part-details-grid-element.part-details-grid_builders
                    h2 Builders
                    p#part-details-grid_builders-name name
                .part-details-grid-element.part-details-grid_status
                    h2 Status
                    p#part-details-grid_status.part-details-grid_status-decorating Decorating
                .part-details-grid-element.part-details-grid_timestamps
                    h2 Timestamps
                    p#part-details-grid_timestamps 0:00 - 1:00
                .part-details-grid-element.part-details-grid_groups
                    h2 Groups
                    p#part-details-grid_groups 1 - 999
                .part-details-grid-element.part-details-grid_comment
                    h2 Comment
                    p#part-details-grid_comment comment...
                .part-details-grid-element.part-details-grid_more
        .collab-dashboard_additional-infos
            h1 Additional Infos
            .additional-infos-grid
                .additional-infos-grid-element.additional-infos-grid_universal-groups
                    h2 Universal Groups
                    ul#additional-infos-grid_universal-groups
                        li 1 - alpha 0
                        li 2 - alpha 0.5
                .additional-infos-grid-element.additional-infos-grid_universal-colors
                    h2 Universal Colors
                    ul#additional-infos-grid_universal-colors
                        li 1 - alpha 0
                        li 2 - alpha 0.5
                .additional-infos-grid-element.additional-infos-grid_spare-groups
                    h2 Spare Groups
                    ul#additional-infos-grid_spare-groups
                        li 1 - alpha 0
                        li 2 - alpha 0.5
                        li 3 - uldm
                .additional-infos-grid-element.additional-infos-grid_spare-colors
                    h2 Spare Colors
                    ul#additional-infos-grid_spare-colors
                        li 1 - alpha 0
                        li 2 - alpha 0.5
                        li 3 - uldm

block popups
    .popup.hidden#serverlist-popup
        .serverlist-popup-topbar#js--serverlist-close
            img.icon(src="/")
            span.selected-server-name Selected Server
            .down-arrow.svg-gradient-icon.filled(svg-data="/assets/img/down_arrow.svg")
        ul.serverlist-tabs
            li.serverlist-tab
                img.icon(src="/")
                span Dashboard
        .serverlist-add#js--server-add
            .svg-gradient-icon.filled(svg-data="/assets/img/add_button.svg")
            span Add Server