.desktop-header{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 10px 20px;
}
.mobile-header{
    visibility: hidden;
}
@media only screen and (max-width: 700px){
    .desktop-header{
        visibility: hidden;
    }
    .mobile-header{
        display: flex;
        flex-direction: row;
        height: 50px;
        padding: 10px 20px;
        background-color: inherit;
    }
}
.header-logo{
    height: 50px;
    width: 50px;
}
.nav-tabs{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav-tab{
    margin: auto;
    margin-left: 40px;
    text-decoration: none;
    a{
        color: $text-links;
    }
}
.account{
    cursor: pointer;
    margin: auto;
    margin-right: 10%;
    display: flex;
    align-items: center;
}
.account-name{
    @include text-gradient;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}
.loggin-button{
    cursor: pointer;
    @include bordered-button(100px, 3px);
    font-size: 18px;
}
#open-settings{
    height: 20px;
    width: 20px;
    margin: auto 40px auto 0;
}
.settings{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: auto 40px auto 0;
    stroke: $text-links;
}
.exp{
    width: 30px;
    height: 30px;
    clip-path: url(/assets/img/logo_gradient.svg);
    background: turquoise;
}