//colors
$gradient1: linear-gradient(135deg, #D52600 0%, #A400F1 100%);
$gradient2: linear-gradient(135deg, #00bad9 0%, #08f100 100%);
$gradient3: linear-gradient(135deg, #d500d5 0%, #0099f1 100%);
$text1: #696969;
$text2: #696969aa;
$text-links: #737BA5;
$bg-object: #00000033;
$bg-object-gradient: url('/assets/img/gradients.svg#bg-object-gradient');
$white-theme-bg: #e1e1e1;
$dark-theme-bg: #1e1e1e;
$white-theme-field: #e8e8e8;
$dark-theme-field: #262626;
$input-color: #1a1a1a;
$selected-input: #121212;

//effects
$field-shadow: 4px 4px 4px #0000000d;

//font
$main-font: 'Dosis', 'Segoe UI', Tahoma, Verdana, sans-serif;